/* The main style shoot for the root application setup*/
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  background: #fff;
}

/*CHAT SECTION*/
.chat-box-wrapper {
  width: 60%;
  position: absolute;
  bottom: 0;
  display: none;
}

.chat-messages {
  max-height: 150px;
  height: 150px;
  opacity: 0.9;
  padding: 15px;
  background: #385b94;
  overflow-y: scroll;
  border-bottom: 2px solid #172438;
}

.chat-messages > div {
  color: #fff;
  padding: 5px 0;
}

.chat-input {
  width: 100%;
  padding: 10px 13px;
  box-sizing: border-box;
  color: #fff;
  background: #4c6c9f;
  border: none;
}